@page
@model AkkaOrder.Pages.HelloModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello @Model.Username</title>
</head>
<body>
</body>
</html>
